/* Add here all your css styles (customizations) */
/* $primaryColor:#828282; */
body {
    font-family: Raleway;
    color: white;
}


.GetStartedBtn{
   color: #862AEC;
    padding: .6rem 2rem;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    text-decoration: none !important;
}

.LearnMore{
    color: white;
    padding: .6rem 2rem;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none !important;
}

.g-bg-violet{
    background-color: blueviolet !important;
}
.g-brd-violet--focus:focus {
    border: 2px solid blueviolet !important;

}

.iConPurple > i {
    color: purple !important;
    padding-right: 1rem;
}

